    <% layout('layouts/boilerplate')%>
    <h1 class="text-center campgroundheading">All  Campgrounds</h1>
    <div class="mb-3 mt-4 text-center">
        <a class=" btn btn-outline-danger campgroundbtn" href="/campgrounds/new">Add Campgrounds</a>
    </div>
    <ul>
        <% for (let campground of campgrounds) {%>
            <!-- <li> <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>  </li> -->
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" class="img-fluid" src="<%=campground.images[0].url%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%=campground.title%></h5>
                            <p class="card-text"><%=campground.description%></p>
                            <p class="card-text">
                                <small class="text-muted"><%=campground.location%></small>
                                </p>
                                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                        </div>
                    </div>
                </div>
            </div>
         

        <%}%>
    </ul>
